.container_
    display: flex
    justify-content: space-around
    align-items: center
    height: 50px
    position: relative
    cursor: pointer
    overflow: hidden
    margin: 10px 10px 10px 10px
    padding: 3%
    background: #fff
    border-radius:  8px
.figure_
    position: relative
    width: 33%
    margin: 0
    padding: 0
    overflow: hidden
    border-radius:  8px

.img_
    width: 50px
    
.figcaption_
    text-align: center
    width: 66%
    margin: 0
    padding: 0
    font-size: 0.8rem
.word_
    background: yellow