.container
    display: flex
    margin: 0
    padding: 0
.figure
    width: 12%
    filter: grayscale(100)
    transition: all 0.25s ease-out

.figure_over
    filter: grayscale(0)
    transform: scale(1.15)
.text
    font-size: 14px
