.background_
    background: #eee
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    position: relative
.container_
    background: #fff
    padding: 3vw 0 0 3vw
    width: 70%
    height: 85%
    border-radius: 20px
    box-shadow: 10px 10px 10px #515151
    display: flex
    flex-direction: column
    align-content: stretch

@media only screen and (max-width: 700px )
    .container_
        width: 100%
        height: 100%
        border-radius: 0
        padding: 0

@media only screen and (min-width: 1200px )
    .container_
        width: 70%
        height: 85%
        border-radius: 20px
        padding: 3vw 0 0 3vw