.background_
    background: #eee
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    position: relative
.container_
    background: #fff
    padding: 3vw
    width: 70%
    height: 85%
    border-radius: 20px
    box-shadow: 10px 10px 10px #515151
