.container_intro{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animeLogo{

    position: relative;
    width: 400px;
    height: 200px;
}