@import "bulma/sass/utilities/_all.sass"
@import "bulma/sass/elements/button.sass"

.container_
    width: 100%
    border-radius: 15px
    padding: 5%
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    font-size: 0.5rem
    color: #fff
.containerBut
    width: 50%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
.para
    text-align: center
.button_
    font-size: 0.8em

.figure_
    margin: 0
    padding: 0
    width: 50%
    position: relative
    padding: 15%