.block 
    text-align: center
    opacity: 0
    transform: translateX(-25px)
    transition: all 0.3s ease-out
.figure
    border-top: 1px solid black
    cursor: pointer
    position: relative
.appear
    opacity: 1
    transform: translateX(0)