.list_container
    padding-top: 4vh
    padding-bottom: 4vh

.containerList
    font-size: 13px
    transition: all 0.25s
    cursor: pointer
    display: flex
    align-items: center
    position: relative
    border-radius: 5px
.containerList:hover
    box-shadow: 10px 10px 10px #515151
.img
    width: 20px