.container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin: 20rem 0 5rem 0
    position: relative
.figure
    width: 25%
    position: relative
    border-radius: 50%
    overflow: hidden
.img
    width: 100%