.container_
    width: 20%
    height: 100%
    display: flex
    position: relative
    flex-direction: column
    justify-content: space-between
    padding-bottom: 3%
    padding-right: 3%
    
.containerItem
    display: flex
    position: relative
    flex-direction: column
    justify-content: center
