.skill
    width: 17vw
    margin-left: 2vw
    margin-right: 2vw
    border-radius: 20px
    box-shadow: 5px 5px 15px grey
.title
    text-align: center

@media only screen and (max-width: 700px )
    .skill
        width: 50vw

@media only screen and (min-width: 1200px )
    .skill
        width: 17vw
        margin-left: 2vw
        margin-right: 2vw