@import "bulma/sass/utilities/_all.sass"
@import "bulma/sass/form/_all.sass"
@import "bulma/sass/elements/_all.sass"

.container_

    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 3%

    grid-column-start: 1
    grid-column-end: 4
    grid-row-start: 1
    grid-row-end: 4


.field_
    width: 100%
.button_
    background: #4A9FCD
    color: #fff
    font-size: 0.8rem
.textAera_
    font-family: inherit
